*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
   }
:root{
    --box-shodow:5px 30px 40px rgb(85 85 85/20%);
    --bg-color:#fff;
    --text-color:#221314;
    --second-color:#5a7184;
    --main-color:#61c3f1;
    --big-font:6rem;
    --h2-font:3rem;
    --p-font:1.1rem;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);    
}
/* navbar */
header{
    position:fixed;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center ;
    justify-content: space-between;
    padding: 4px 18%;
    transition: ease .40s;
    background-color: rgb(255 255 255 / 0.3);
    backdrop-filter: blur(10px);
}
.logo{
    font-size: 30px;
    font-weight: 300;
    color: var(--text-color);
    text-transform: capitalize;
    letter-spacing: 2px;
}
.navbar{
    display: flex;
}
.navbar  a{
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 500;
    padding: 10px 22px;
    border-radius: 4px;
    transition: ease .40s;
   
}
.navbar a:hover{
    background-color: var(--bg-color);
    color: var(--text-color);
    box-shadow: var(--box-shodow);
    border-radius: 4px;
    transform:scaleX(5px);
 
}

/* menú desplegable */
.navbar {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar li {
    position: relative;
}

.navbar a {
    text-decoration: none;
    color: #000;
}

#menu-icon {
    display: none;
}

@media (max-width: 768px) {
    .navbar {
        display: none;
        flex-direction: column;
        gap: 10px;
    }

    .navbar.open {
        display: flex;
    }

    #menu-icon {
        display: block;
        cursor: pointer;
    }

    .navbar a {
        padding: 10px;
        background-color: transparent;
        border-radius: 5px;
        color: #000;
    }
}

#menu-icon{
color: var(--text-color);
font-size: 35px;
z-index: 10001;
cursor: pointer;
display: none;
}

/* Inicio */
section{
    padding: 80px 18%;
}

.logo img {
    height: auto;
    max-height: 40px; 
    width: auto;
    vertical-align: middle;
}

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(/assets/img/Tejeda.jpg);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
}
.home-text h1{
    color: var(--bg-color);
    font-size: var(--big-font);
    font-weight: 900;
    line-height: 1.2;
    font-family: 'Poppins', sans-serif;
    text-align: right;
    font-style: oblique;
    margin-bottom: 20px;
   letter-spacing: 4px; 
}
.home-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.home-btn{
    display: inline-block;
    background-color: var(--bg-color);
    color: var(--p-font);
    padding: 6px 15px;
    font-size: 21px;
    padding: 9px 25px;
    border-radius: 5px;
    box-shadow: 8px 9px 24px #fff;
    transition: ease .40s;
}

.home-btn:hover{
    background-color:black;
    color: #fff;
    box-shadow: 1px 10px 20px black;
    transform: scale(1.1);
}
.container-img img{
    height: 85px;
    width: 85px;
    padding: 15px;
    text-align: right;
    background: var(--bg-color);
    box-shadow: var(--box-shadow);
    border-radius: 4px;
margin-bottom: 15px;
cursor: pointer;

}
.text h2{
    font-size: var(--h2-font);
    line-height: 1.2;
}
.row-item{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    align-items: center;
    grid-gap: 2rem;
    text-align: center;
    margin-top: 5rem;
}
.container-box{
    background-color: var(--bg-color);
    border: 1px  solid black;
border-radius: 8px;
padding: 4vh 3vh 5vh;
transition: all .30s ease;
cursor: pointer;
}
.container-box h4{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 8px;
}
.container-box p{
    font-size: 15px;
    color: var(--second-color);
}
.container-box:hover{
    box-shadow: 5px 30px 56.1276px rgba(59, 54, 54, 0.12);
    border: 1px solid transparent;
    transform:translateY(5px);
}
 
.thum img{
    width: 100%;
    height: 300px; 
    object-fit: cover;
    border-radius: 12px;
}
.title{
    text-align: center; 
    
}
.title h2{
    font-size: var(--h2-font);
    line-height: 1.2;
}
.package-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,auto));
    align-items: center;
    grid-gap: 2rem;
    text-align: center;
     margin-top: 5rem;
}
.thum{
    position: relative;
    transition: all .3s cubic-bezier(.445,05,.55,.95);
    will-change: filter;
    cursor: pointer;
}
.thum h3 {
	position: relative;
    font-size: 30px;
    font-weight: 600;
    text-align: right;
	color: var(--bg-color);
	top:36px;
	right:36px;
}
.dest-content{
    display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-top: 24px;
}
.location{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8px;
}
.loaction p{
    font-size: 15px;
    color: var(--second-color);
}
.thum :hover{
    transform: scale(1.04);
box-shadow: var(--box-shadow );
}

.destination-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(340px,auto));
    align-items: center;
    grid-gap: 2rem;
    text-align: center;
     margin-top: 5rem;
    
}
/* formulario de contacto */
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background-color: #25b9cc;
    color: #fff;
}

.btn-secondary {
    background-color: #ddd;
    color: #333;
}

.col-content{
    position: relative;
}
.col-content img {
	object-fit: cover;
    width: 100%;
	border-radius: 15px;
    transition: all .3s cubic-bezier(.445,05,.55,.95);
	filter: brightness(80%);
	will-change: filter;
	height: 600px;
}
.col-content h5 {
	position: absolute;
	color: var(--bg-color);
	font-size: 22px;
	bottom: 60px;
    left: 15px;
	font-weight: 500;
	text-transform: capitalize;
}
.col-content p {
	position: absolute;
	color: var(--bg-color);
	font-size: 15px;
	bottom: 60px;
    left: 15px;
    bottom: 38px;
	text-transform: capitalize;
}
.col-content img:hover{
    transform:scale(1.04);
    box-shadow: var(--box-shodow);
    backdrop-filter: blur(10px);
}
@media (max-width:1400px){
    header{
        padding: 17px 3%;
        transition:  .2s;
    }
    section{
        padding: 80px 3%;
    }
    :root{
        --big-font:4.5rem;
        --h2-font:2.3rem;
        --p-font:1rem;
        transition:  .2s;
    }
}
@media (max-width:1400px){
    #menu-icon{
        display: block;
    }
    .home{
        height: 88vh;
    }
    .navbar{
        position: absolute;
        top: 0;
        right: -100%;
        width: 270px;
        height: 120vh;
        background: #eafaff;
        display: flex;
        flex-direction: column;
        padding: 150px 30px;
        transition: 0.5s all ;
    }
    .navbar a{
        display: block;
        margin: 1.2rem  0;
    }
    .navbar a:hover{
color: var(--text-color );
    }
    .open {
        right: -1%;
    }

}
@media (max-width:575px){
    .text{
        text-align: center;
    }
    .home{
     height: 85vh;
     transition: .2s ;   
    }
}

.footer {
    background-color: #fff9f3; 
    color: #000000; 
    padding: 5px 0; 
    text-align: center; 
}

.footer .main {
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap; 
}

.footer .col {
    flex: 1; 
    padding: 10px; 
}

.footer .col h4 {
    margin-bottom: 3px; 
}

.footer .social a {
    color: #000000; 
    margin: 10px; 
    text-decoration: none; 
}

.footer ul {
    list-style: none; 
    padding: 0; 
}

.footer ul li {
    margin-bottom: 10px; 
}

.footer ul li a {
    color: #000000; 
    text-decoration: none; 
}

.footer ul li a:hover {
    text-decoration: underline; 
    
}




